head{
    scroll-behavior: smooth;
}
H1 {
    font-size: 400%;
    text-align: left;
    color: black;
    font-family: "Helvetica Neue";
    margin-left: 20px;

}

picture2 {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 102%;
    border-radius: 15px 15px 15px 15px;
}

picture3 {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 102%;
    border-radius: 15px 15px 15px 15px;
}

body{
    background-image: linear-gradient(to right,white, darkred);
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica Neue";
    font-size: 100%;
}
nav {
    margin-top: auto;
    height: 60px;
    width: 100%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 1.6em;
}

li a:hover {
    background-color: darkred;
}


picture1 {
    align-content: center;
}

.info {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 1em;
    background-color: white;
    margin-top: 100px;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

h2{
    text-align: center;
    color: black;
    font-family: "Helvetica Neue";
}

.box-1{
    background-color: white;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px;
    width: 100%;
    align-content: center;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}



.box-2 p{
    text-align: left;
    margin-left: 20px;

}
.box-2{
    border-radius: 15px 15px 15px 15px;
}

h3{
    text-align: center;
}

